<?xml version="1.0" encoding="UTF-8"?>
<suite name="LCBO Maven Test Suite" parallel="false">
  <test name="Regression Suite">
    <classes>
			<class name="aemTest.ArticleFeatureTest"/>
			<class name="aemTest.CarouselTest"/>
			<class name="aemTest.EnhancedContentTest"/>
			<class name="aemTest.EnhancedProductHeroTest"/>
			<class name="aemTest.HeroArticleTextTest"/>
			<class name="aemTest.HeroImageTest"/>
			<class name="aemTest.ImageTest"/>
			<class name="aemTest.SectionHeaderTest"/>
			<class name="aemTest.SubTitleQuoteTest"/>
			<class name="aemTest.VideoContainerTest"/>
		</classes>
  </test>
</suite>
